# Virtual environments
cattle-env/
venv/
env/
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store

# PyTorch / YOLO
*.pt
runs/
