# [Vision Doctor] Core AI & Computer Vision
ultralytics
opencv-python

# [Vision Doctor] UI & Visualization
customtkinter
pillow
matplotlib

# [Vision Doctor] Support Utilities
pyyaml
torch
torchvision
torchaudio
